head
  meta(name='viewport', content='width=device-width, initial-scale=0.7')
body
  section

    article
      div.container-40
        h2.bottom.center Jezrael Arciaga
      div.container-5
        div.bottom.center
          ul
            li Data Scientist
            li Data Engineer
            li Software Engineer
      div.container-7
        div.bottom.center
          a.border-white.disabled(href='') View Resume

    article.alt-color
      div.container-45
        h2.bottom.center Follow Me
      div.container-5
        div.bottom.center
          ul
            li
              a(href='https://twitter.com/jezarciaga') Twitter
            li
              a(href='https://www.linkedin.com/in/jezrael-arciaga-4785a133') LinkedIn
            li
              a(href='http://www.github.com/jezifm') Github
            li
              a(href='http://jezifm.github.io') Blog
